nav ol {
	display: flex;
	gap: 1rem;
}
a {
	padding: 1rem;
	background: lightgreen;
	display: block;
	margin: 0.5rem;
	transition: 0.2s all;
	opacity: 0.5;

	&:hover {
		background: darkgreen;
		color: white;
		opacity: 1;
		margin-left: 40px;
		transform: scale(1.5) translateX(10px) rotate(5deg);
	}
}
